@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    background-color: #370000;
    color: #fff;
}
  
/*Section main*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0a0a0a;
}
  
.navbar .logo img {
    width: 40px;
}

.navbar .logo{
    margin: auto 5%;
}
  
.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 80px;
}
  
.navbar nav ul li a {
    text-decoration: none;
    color: #d4ab60;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
  
.navbar nav ul li a:hover {
    color: #eca92c;
}
  
.btn-entrar {
    margin: auto 5%;
    background: #d4ab60;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background 0.3s ease;
}
  
.btn-entrar:hover {
    background: #eca92c;
}
  
/* Geral Section */
.content,
.game {
    height: 100vh;
}

/* Conteúdo principal */
.content {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 40px 80px;
    gap: 50px;
    background: url('images/BackgroundMOBA.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  
.text{
    max-width: 600px;
    margin-top: 100px;
}
  
.text-title{
    font-size: 30px;
    color: #e8f7fc;
    text-shadow: 
        0 0 5px #c8d4db,
        0 0 10px #c8ced1,
        0 0 20px #ecfeff,
        0 0 40px #ffffff;
    margin: 0 0 30px 0;
}
  
.lol{
    width: 400px;
}
  
.text-content{
    margin: 50px 0 0 0;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    color: #ddd;
}

.info-right{
    margin: 50px 0 0 0;
    font-size: 20px;
    line-height: 1.6;
    justify-content: space-between;
    color: #ddd;
    text-decoration: none;
}

.info-left{
    margin: 50px 0 0 0;
    font-size: 20px;
    line-height: 1.6;
    justify-content: space-between;
    color: #8ea3ff;
    text-decoration: none;
}
/* Footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #161515;
    font-size: 15px;
    padding: 20px;
    font-weight: 300;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}