@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    background-color: #370000;
    color: #fff;
}
  
/*Section main*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0a0a0a;
}
  
.navbar .logo img {
    width: 40px;
}

.navbar .logo{
    margin: auto 5%;
}
  
.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 80px;
}
  
.navbar nav ul li a {
    text-decoration: none;
    color: #e6e6e6;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
  
.navbar nav ul li a:hover {
    color: #ff0000;
}
  
.btn-entrar {
    margin: auto 5%;
    background: #660000;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background 0.3s ease;
}
  
.btn-entrar:hover {
    background: #cc0000;
}
 
/* Geral Section */
.content,
.game {
    height: 100vh;
}

/* Conteúdo principal */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    gap: 50px;
    background: url('images/Background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  
.text{
    margin: 50px 0 0 0;
    max-width: 600px;
}
  
.text-title{
    font-size: 30px;
    color: #ffcc66;
    text-shadow: 
        0 0 5px #ff9900,
        0 0 10px #ff9900,
        0 0 20px #ff6600,
        0 0 40px #ff3300;
    margin: 0 0 30px 0;
}
  
.FearZone{
    width: 400px;
}
  
.text-content{
    margin: 50px 0 0 0;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    color: #ddd;
}

.info-right{
    margin: 50px 0 0 0;
    font-size: 20px;
    line-height: 1.6;
    justify-content: space-between;
    color: #ddd;
    text-decoration: none;
}

.info-left{
    margin: 50px 0 0 0;
    font-size: 20px;
    line-height: 1.6;
    justify-content: space-between;
    color: #8ea3ff;
    text-decoration: none;
}

/* Section game*/
.game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    gap: 50px;
    background: url('images/BackgroundAmnesia.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.Amnesia{
    width: 530px;
}
  
.ficha {
    margin: 50px 0 0 0;
}

.linha {
    display: flex;
    margin-bottom: 10px;
}

.titulo {
    width: 120px;
    font-weight: bold;
}

.conteudo a {
    color: #00c0ff;
    text-decoration: none;
}

.conteudo a:hover {
    text-decoration: underline;
}

.conteudo {
    margin-left: 10px;
}

.btn-participe {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    background-color: #660000; /* vermelho escuro */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s ease;
}
  
.btn-participe:hover {
    background: #cc0000;
}
/* Footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #161515;
    font-size: 15px;
    padding: 20px;
    font-weight: 300;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}